.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-gallery-1 {
  height: 599px;
  margin: 56px 0 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 278px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 278px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
  min-height: 459px;
}

.u-section-2 .u-image-1 {
  object-position: 50% 84.45%;
  height: 336px;
  margin: 60px 0 0;
}

.u-section-2 .u-group-1 {
  width: 311px;
  min-height: 201px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -269px calc(((100% - 1140px) / 2)) 128px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 248px;
  margin: 33px auto 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  text-align: center;
  align-self: center;
  border-style: solid;
  margin: 11px 42px 0;
  padding: 18px 57px 19px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    inset: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 34px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}