.u-section-1 .u-sheet-1 {
  min-height: 1020px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 28px 318px 0 19px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 21px 0 0 28px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 365px;
  margin: 18px 390px 0 385px;
}

.u-section-1 .u-image-1 {
  min-height: 408px;
  background-image: url("images/11.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 21px 28px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 26px 0 53px 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: 290px;
    margin-left: 285px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: 180px;
    margin-left: 175px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: 90px;
    margin-left: 85px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 380px;
  }
}